<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="campaign.css">
    <title>Document</title>
</head>
<body>
    <div>
        <div class="header">
            <div class="nav_container">
                <div class="title">
                    <h2>Ateru</h2>
                </div>
                <div class="nav_right">
                    <button class="nav-items">Home</button>
                    <a href="#"><button class="nav-items">Donate</button></a>
                    <a href="#"><button class="nav-items">How it Works</button></a>
                </div>
            </div>
        </div>

        <div class="body">
            
            <div class="split left">
                <img class="campaign-img" src="https://images.viacbs.tech/uri/mgid:arc:content:nick.com:a625d441-bbbf-42c8-9927-6a0157aac911?quality=0.7" />
                
            </div>
            <div class="split right">
                <h1 class="campaign-heading">pls give money</h1>
                <hr class="line"/> <br />
                <div class="progress-bar">
                    <div class="loading-bar-border">
                        <div class="loaded">75 000 / 100 000 raised</div>
                    </div>
                    <button class="donate-btn">Donate Now</button>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.s</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.s</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.s</p>
            </div>
        </div>
    </div>
</body>
</html>