.header-campaign {
  background-color: #00715d;
  color: white;
}
.nav_container {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.title {
  color: white;
  font-size: 1.5em;
  width: 50vw !important;
  padding-left: 4vw;
}

.nav_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50vw;
  color: white;
  min-height: 16vh;
  padding-right: 2vw;
}

.nav-items {
  background-color: transparent;
  color: white;
  font-size: 17px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.nav-items:hover {
  color: rgb(228, 225, 225);
}

.split {
  width: 40%;
  height: 100%;
  margin-right: 6vw;
}

.left {
  left: 9vw;
  margin-top: 8vh;
}

.right {
  text-align: right;
  margin-top: 12.4vh;
}

.line {
  position: relative;
  width: 12rem;
  height: 2.4px;
  border: 1px solid #00715d;
  background-color: #00715d;
  left: 24vw;
}

.campaign-heading {
  font-size: 2.5rem;
  color: #00715d;
  position: relative;
  right: 3vw;
}

.campaign-img {
  height: 70vh;
  width: 90%;
  border-radius: 20px;
}

.okok {
  text-align: left;
  font-size: 17.4px;
}

.loading-bar-border {
  width: 75%;
  background-color: #919191;
  height: 2rem;
  border-radius: 10px;
}

.loaded {
  letter-spacing: 0.1rem;
  width: 75%;
  background-color: #15ac90;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  font-size: larger;
  font-weight: 100;
  border-radius: 10px;
}

.donate-btn {
  position: relative;
  bottom: 4px;
  height: 2.4rem;
  padding: 6px 10px;
  background-color: #00715d;
  color: white;
  border: none;
  letter-spacing: 0.1rem;
  font-size: large;
  border-radius: 6px;
}

.donate-btn:hover {
  background-color: #025c4b;
}

.progress-bar {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
