@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap");

.body {
  background-color: white;
  font-family: Roboto;
}

.header-form {
  background-color: #00715d;
}

.nav_container {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.title {
  color: white;
  font-size: 1.5em;
  width: 50vw !important;
  padding-left: 4vw;
}

.nav_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50vw;
  color: white;
  min-height: 16vh;
  padding-right: 2vw;
}

.nav-items {
  background-color: transparent;
  color: white;
  font-size: 17px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.form-heading {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 5vw;
  color: #00715d;
}

.submit-btn {
  background-color: #00715d;
  color: white;
  font-weight: 600;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  padding: 8px 18px;
  margin-top: 3vh;
  cursor: pointer;
}

.split {
  width: 50%;
  height: 100%;
  position: fixed;
}

.left {
  left: 5vw;
}

.right {
  right: 0;
}

.type-box {
  font-family: "Montserrat";
  font-size: 17px;
  display: flex;
  color: #272727;
  background: #f9f5e8;
  border: 2px solid #00715d;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 18px 8px 18px 12px;
}

.email-field {
  width: 40vw;
  height: 2rem;
}

.name-field {
  width: 40vw;
  height: 2rem;
  margin-top: 4vh;
}

.note-field {
  width: 40vw;
  height: 4rem;
}

.amts {
  justify-content: space-between;
  font-size: 15px;
  margin-right: 10px;
  padding: 10px;
}

.amt-btn {
  font-style: normal;
  font-weight: normal;
  text-align: center;
  background: white;
  border: 2px solid #27b69c;
}

.amt-btn:hover {
  background: #e4e3e2;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  box-shadow: 3px 3px;
}

.cstm-amt {
  background: #fdd65b;
  border: 1px solid black;
  width: 10rem;
}

.donate-text {
  padding: 10px 10px 10px 0px;
}
